$color-primary: #1e78a0;
$color-secondary: #de9000;
$color-tertiary: #eee;
$white: #fff;
$black: #000;
$green: green;
$orange: orange;
$red: red;

$font-family-body: "Roboto", sans-serif;
$font-family-title: "Noto Serif", serif;

$font-size-body: 1rem;
$font-size-h4: 1rem;
$font-size-h3: 1.5rem;
$font-size-h2: 2rem;
$font-size-h1: 2.5rem;

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
