@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./global";

#content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "aside  main"
    "footer footer";
  min-height: 100vh;
}

.header {
  grid-area: header;
  color: $white;
  background-color: $color-primary;
  padding: $space-xl;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#burgerMenu {
  font-size: $font-size-h1;
  cursor: pointer;
}

.aside {
  grid-area: aside;
  width: 350px;
  color: $black;
  background-color: $color-tertiary;
  padding: $space-xl;
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.main {
  grid-area: main;
  color: $color-secondary;
  background-color: $white;
  padding: $space-xl;
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.section {
  display: flex;
  flex-direction: column;
  gap: $space-md;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: $space-md;
  padding: $space-sm $space-md;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  cursor: pointer;
  color: $white;
  @include button-bg($color-primary);

  &__description {
    flex: 1;
  }

  &__infos {
    display: flex;
    align-items: center;
    gap: $space-sm;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      font-size: 0.5rem;
      font-weight: 700;
      padding: calc(0.25rem - 2px);
      border: 1px solid $white;
      border-radius: 0.25rem;

      &.low {
        background-color: $green;
      }

      &.medium {
        background-color: $orange;
      }

      &.high {
        background-color: $red;
      }
    }
  }

  &__controls {
    display: flex;
    gap: $space-sm;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $space-md;
  padding: $space-md;
  border: 0.25rem solid $color-secondary;
  border-radius: 0.5rem;
  color: $black;
  background-color: $color-tertiary;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: $space-sm;

    label {
      font-weight: 700;
    }

    input,
    select {
      padding: 0.25rem;
    }
  }

  &__controls {
    display: flex;
    gap: $space-sm;

    > * {
      flex: 1;
    }
  }
}

.footer {
  grid-area: footer;
  color: $white;
  background-color: $color-primary;
  padding: $space-md $space-xl;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
